*{
    margin: 0;
    padding: 0;
}

.titulo{
    color: brown;
}

p a {
    color: rgb(41, 207, 19);
}

.card{
    width: 200px;
    border: 1px solid ;
    border-radius: 5px;
    margin: 10px;
    
}
.card__img{
    width: 100% ;
    border-radius: 5px;
}
.card__titulo , .card__desc{
    text-align: center;
}
.btn{
    margin: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}

.card__titulo--rojo{
  color: red;
}

.subtitulo{
    width: 50%;
    height: 200px;
    padding: 10px;
    margin: 10px;
    display: block;
    font-weight: 400;
}
.desc{
    width: 100px;
    height: 100px;
    margin: 10px;
}
/*Resaltado del subtitulo*/
.resaltar{
    color: blue;
    font-weight: 800;
}

.caja{
    width: 300px;
    background-color: blue;
    color: rgb(201, 93, 93);

    
    /*
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 30px;
    */
    margin: 10px;
    padding: 10px 20px 40px 15px;
    /*
    border-width: 2px;
    border-color: brown;
    border-style: solid;
    */
     border: solid 2px red ; 
    /*
    border-top: 5px solid red;
    border-right: 1px solid rgb(013, 212, 96);
    border-bottom: 3px solid rgb(83, 92, 216);
    border-left: solid 10px rgb(160, 11, 128);
    */
}

.caja2{
    width: 100px;
    height: 100px;
    background-color:blue ;
    margin: 10px;
}
.red{
    background-color: red;
    position: relative;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}
.blue{
    background-color: blue;
}
.black{
    background-color: black;
}

.navbar{
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: blueviolet;
    z-index: 2;
}
.fotoPrincipal{
    width: 100%;
    height: 300px;
    
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline-block;
    position: relative;
}
.navbar ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.navbar ul li ul{
    display: none;
    position: absolute;
    right: -10px;
    background-color: blueviolet;
}

.navbar ul li:hover ul{
    display: block;
    list-style-type: none;
}

.flex{
    display: flex;
    flex-flow: row wrap;
    height: 400px;
    background-color: darkmagenta;
    align-content: end;
}
.contenedor{
    width: 50%;
    height: 500px;
    position: relative;
    margin: auto;
}
.imagen{
    width: 100%;
    height: 100%;
    background-color:blue ;
    
}
